.ui.segment {
  border-radius: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

.pushable {
  position: fixed;
  height: calc(100% - 73px);;
  position: fixed !important;
  width: 100%;
  overflow: hidden !important;
}

.ui.sidebar.left {
  position: fixed !important;
  top: 0;
}

.child-container {
  background: #EEE;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.ui .segment {
  background: transparent;
}

a button.basic {
  background: white !important;
}

.ui.segment.pushable {
  background: #EEE;
}
